@import "tailwindcss";
@source inline("{bg,border,from,to,text}-{sky,green,red,yellow}-{50,200,300,500}");

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --aspect-cinema: 21 / 9;
}